In [15]:
import pandas as pd

In [16]:
with open('data/producao/pordata-2-4.csv', 'r') as f:

IndentationError: expected an indented block (902477193.py, line 2)

In [36]:
df = pd.read_csv('data/producao/pordata-2-4.csv', on_bad_lines='skip')
df.head(10)

,Ano,Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,NaN,UE27 (2020) - União Europeia 27 (desde 2020),UE28 - União Europeia (28 Países),ZE19 - Zona Euro (19 Países),DE - Alemanha,AT - Áustria,BE - Bélgica,BG - Bulgária,CY - Chipre,HR - Croácia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990.0,740,771.8,485,865.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import random 
tt = ["pedrinh","artur","sofia","tiago","joao"]
ta = ["pedrinhi","artur","sofia","tiago","joao"]

def randomize(tt,ta):
    lista = []
    random.shuffle(ta)
    for i in range(len(tt)):
        if tt[i] == ta[i]:
            return randomize(tt,ta)
        else:
             print(tt[i] + '\t\t ' + ta[i])
    for i in range(len(tt)):
       
            
randomize(tt,ta)